.app {
  display: flex;
  flex-direction: column;
}

/* Header */
.header {
  background: #333f56;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', sans-serif;
}

.header-title {
  color: white;
  font-size: 20px;
  padding-bottom: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.nav-link {
  color: #b2bbca;
  text-decoration: none;
  margin-right: 5rem;
  margin-left: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.nav-link:hover {
  color: white;
}
.nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: 0.5s;
}
.nav-link:hover:before {
  transform: scale(1);
}

/* About */
.about {
  background: #ffffff;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  color: white;
}
.about label {
  margin: 1rem;
  color: #333f56;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-content {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.about-console {
  background: rgb(185, 185, 185);
  position: relative;
  top: 2.5rem;
  height: 70%;
  width: 33%;
  border-radius: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 3rem;
  box-shadow:0 0 15px black;
}
.about-console-title label {
  font-size: 12px;
  font-family: 'Source Code Pro', monospace;
}

.about-console-body {
  background: rgb(46, 46, 46);
  position: relative;
  bottom: 0;
  height: auto;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.about-console-text {
  padding-top: 1rem;
  padding-bottom: 1rem; 
}

.about-console-text label{
  color: white;
  font-size: 12px;
  margin-left: 1rem;
  margin-right: 0;
  font-family: 'Source Code Pro', monospace;
}
.about-console-text input{
  border: none;
  outline: none;
  background: none;
  left: 0;
  color: rgb(76, 147, 175);
  font-size: 12px;
  font-family: 'Source Code Pro', monospace;
}

.about-console-text input::placeholder {
  color: rgb(76, 147, 175);
  font-size: 12px;
  font-family: 'Source Code Pro', monospace;
}

.about-info {
  position: relative;
  height: 100%;
  width: 66%;
  color: black;
}


/* Projects */
.projects {
  height: 100%;
  width: 100%;
}

.project-cards {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
}

.card img {
  max-height: 100%;
  max-width: 100%;
}